/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f5f5f5;

  --vt-c-black: #181818;
  --vt-c-black-transparent: rgba(0, 0, 0, 0.4);
  --vt-c-black-shadow: rgba(0, 0, 0, 0.1);

  --vt-c-blue-dark: #0d163a;
  --vt-c-blue-dark-transparent: #0D163A1a;
  --vt-c-blue-light: #4745A4;

  --vt-c-yellow-dark: #b28d2d;
  --vt-c-yellow-light: #c4a02f;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-guess: var(--vt-c-black-transparent);
  --color-background-menu: var(--vt-c-white);
  --color-background-dashboard-focus: var(--vt-c-blue-light);
  --color-background-yellow-dark: var(--vt-c-yellow-dark);
  --color-background-yellow-light: var(--vt-c-yellow-light);

  --color-text: var(--vt-c-blue-dark);
  --color-text-light: var(--vt-c-white);
  --color-text-link: var(--vt-c-blue-light);
  --color-text-yellow-dark: var(--vt-c-yellow-dark);
  --color-text-yellow-light: var(--vt-c-yellow-light);

  --color-border-guess: var(--vt-c-white);
  --color-border-menu: var(--vt-c-blue-light);
  --color-border-menu-transparent: var(--vt-c-blue-dark-transparent);

  --color-shadow: var(--vt-c-black-shadow);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-guess: var(--vt-c-black-transparent);
    --color-background-menu: var(--vt-c-white);
    
    --color-board-guess: var(--vt-c-white);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
