/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft-1: #f1f1f1;
  --vt-c-white-soft-4: #f4f4f4;
  --vt-c-white-soft-5: #f5f5f5;
  --vt-c-white-20: rgba(255, 255, 255, 0.20);

  --vt-c-grey-darker: #828282;
  --vt-c-grey-dark: #79808A;
  --vt-c-grey: #DEDEDE;
  --vt-c-grey-2: #DADADA;
  --vt-c-grey-5: #555;
  --vt-c-grey-8: #888;
  --vt-c-grey-70: rgba(222, 222, 222, 0.70);
  --vt-c-grey-300: #D0D5DD;


  --vt-c-black: #181818;
  --vt-c-black-transparent: rgba(0, 0, 0, 0.4);
  --vt-c-black-transparent-2: rgba(0, 0, 0, 0.5);
  --vt-c-black-shadow: rgba(0, 0, 0, 0.1);
  --vt-c-black-shadow-2: rgba(16, 24, 40, 0.04);
  --vt-c-black-shadow-3: rgba(16, 24, 40, 0.10);
  --vt-c-black-shadow-4: rgba(16, 24, 40, 0.05);;

  --vt-c-blue-dark: #0d163a;
  --vt-c-blue-dark-20: #0D163A33;
  --vt-c-blue-dark-transparent: #0D163A1a;
  --vt-c-blue-light: #4745A4;
  --vt-c-blue-lighter: #606CCB;
  --vt-c-blue-grey: #E4E7EC;
  --vt-c-blue-grey-2: #667085;

  --vt-c-yellow-dark: #b28d2d;
  --vt-c-yellow: #F9BA33;
  --vt-c-yellow-light: #c4a02f;

  --vt-c-red: #FE3766;
  --vt-c-red-transparent: #fe376630;

  --vt-c-green: #31D3A3;
  --vt-c-green-transparent: #31d3a230;
  --vt-c-green-light: #3BBB6E;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-disabled: var(--vt-c-grey);
  --color-background-select-input-hover: var(--vt-c-grey);
  --color-background-button-hover: var(--vt-c-grey);
  --color-background-soft: var(--vt-c-white-soft-5);
  --color-background-guess: var(--vt-c-black-transparent);
  --color-background-menu: var(--vt-c-white);
  --color-background-dashboard-focus: var(--vt-c-blue-light);
  --color-background-button: var(--vt-c-blue-lighter);
  --color-background-button-focus: var(--vt-c-blue-light);
  --color-background-button-secondary: var(--vt-c-white);
  --color-background-primary: var(--vt-c-yellow-dark);
  --color-background-primary-light: var(--vt-c-yellow-light);
  --color-background-scrollbar-track: var(--vt-c-white-soft-1);
  --color-background-scrollbar-thumb: var(--vt-c-grey-8);
  --color-background-scrollbar-thumb-hover: var(--vt-c-grey-5);
  --color-background-credit: var(--vt-c-green-transparent);
  --color-background-debit: var(--vt-c-red-transparent);
  --color-background-icon: var(--vt-c-white-soft-4);
  --color-background-progress-bar-first: var(--vt-c-blue-light);
  --color-background-progress-bar-second: var(--vt-c-yellow);
  --color-background-progress-bar-third: var(--vt-c-green-light);

  --color-text: var(--vt-c-blue-dark);
  --color-text-dark: var(--vt-c-black);
  --color-text-disabled: var(--vt-c-grey-dark);
  --color-text-light: var(--vt-c-white);
  --color-text-link: var(--vt-c-blue-light);
  --color-text-primary: var(--vt-c-yellow-dark);
  --color-text-primary-light: var(--vt-c-yellow-light);
  --color-text-table: var(--vt-c-grey-darker);
  --color-text-credit: var(--vt-c-green);
  --color-text-debit: var(--vt-c-red);
  --color-text-progress-first: var(--vt-c-blue-light);
  --color-text-progress-second: var(--vt-c-yellow);
  --color-text-progress-third: var(--vt-c-green-light);
  --color-text-input: var(--vt-c-blue-grey-2);

  --color-border-guess: var(--vt-c-white);
  --color-border-menu: var(--vt-c-blue-light);
  --color-border-menu-transparent: var(--vt-c-blue-dark-transparent);
  --color-border-dashboard: var(--vt-c-grey-70);
  --color-border-dashboard-dark: var(--vt-c-blue-dark-20);
  --color-border-dashboard-item: var(--vt-c-white-20);
  --color-border-table: var(--vt-c-grey-2);
  --color-border-modal: var(--vt-c-blue-grey);
  --color-border-input: var(--vt-c-grey-300);

  --color-shadow: var(--vt-c-black-shadow);
  --color-modal-shadow: var(--vt-c-black-shadow-2);
  --color-modal-shadow-2: var(--vt-c-black-shadow-3);
  --color-modal-shadow-4: var(--vt-c-black-shadow-4);

  --color-modal-mask: var(--vt-c-black-transparent-2);
  --color-border-table-hover: var(--vt-c-grey-5);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
